{% extends 'base.html' %}
{% block title %} Lista de Ações {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Suas ações</h1>

    <a href="newasset/">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i>Adicionar Ação
        </div>
    </a>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tag %}class="alert alert-{{message.tag}}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <ul class="stock-list">

        {% for asset in assets %}
        <li class="asset-item">
            <span>{{asset.name}} - R$ {{asset.value}}</span>
            <a href="delete/{{asset.id}}"><span><i class="fas fa-trash"></i></span></a>
            <a href="edit/{{asset.id}}"><span><i class="fas fa-edit"></i></span></a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}