{% extends 'base.html' %}
{% block title %} Lista de Ações {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Suas ações</h1>

    <div class="col-9 add-div">
        <input class="form-control" type="text" name="stock-to-add" id="stock-to-add"
            placeholder="Digite o nome da ação (ex.: PETR4)">
        <i class="fas fa-plus"></i>
    </div>

    <ul class="stock-list">
        <li class="stock-item">
            <span>Ação</span>
            <span><i class="fas fa-trash"></i></span>
            <span><i class="fas fa-edit"></i></span>
        </li>
    </ul>
</div>
{% endblock %}